@model User


@{

}

<div class="member-card">
    <div class="menu">
        <button 
        class="menu-btn"
        data-bs-toggle="dropdown">
            <i class="bi bi-three-dots"></i>
        </button>

        <ul class="dropdown-menu">
            <li class="mt-2 mb-3">
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalAdminEditMember"><i class="bi bi-pencil-fill"></i> Edit</a>
            </li>
            <hr />
            <li>
                <a class="dropdown-item delete" asp-action="Delete" asp-controller="Members" asp-route-email="@Model.Email" ><i class="bi bi-trash"></i> Delete User</a>
            </li>
        </ul>
    </div>

    <div class="avatar-container">
        <img class="avatar" src="./images/avatarLarge.png" />
    </div>

    <h4>@Model.FirstName @Model.LastName</h4>

    <p class="title">@Model.RoleName</p>

    <p class="contact">@Model.Email</p>
    <p class="contact">+46 070-123 45 78</p>

    <div class="msg-btn-container">
        <button class="btn btn-grey">Message</button>
    </div>


    <div class="modal fade" id="ModalAdminEditMember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body p-4">

                    <div class="d-flex justify-content-between mb-4">
                        <h3 class="modal-title fs-5" id="exampleModalLabel">Edit Member</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form class="row g-3" novalidate method="post" asp-controller="Member" asp-action="Edit">
                        <h1>@Model.FirstName</h1>
                        @await Html.PartialAsync("Partials/_UserForm", new UserDto()
                       {
                           FirstName = Model.FirstName,
                           LastName = Model.LastName,
                           Email = Model.Email
                       })
                        <button type="submit" class="btn btn-blue mt-4">Save Member</button>
                    </form>

                </div>



            </div>
        </div>
    </div>
</div>



