
@{
    var user = await _userService.GetUser(User);
    var avatar = imageManager.GetPath(nameof(MembersController), user.Avatar);
}


<div class="search">
    <span class="topbar-search-container">
        <i class="bi bi-search"></i>
        <input id="topbar-search" type="text" placeholder="Search" />

    </span>
</div>

<nav class="topmenu-nav">    

    <partial name="Partials/_NotificationDropdown" />

    <div class="vr"></div>

    <a href="#"
       class="topmenu-nav-item"
       id="userDropdown"
       data-bs-toggle="dropdown"
       data-bs-auto-close="outside"
       aria-expanded="false">
       <i class="bi bi-person-circle"></i>
    </a>

    <ul class="dropdown-menu dropdown-menu-end shadow-sm "
        aria-labelledby="userDropdown">
        <div class="profile-container">
            <img src="@avatar" alt="Profile Image." />
            <div class="profile-name">
                <h6>@user.FirstName @user.LastName</h6>
                <p>@user.RoleName</p>
            </div>
        </div>


        <li>
            <div class="darkmode-toggle">
                <p>Dark Mode</p>
                @await Html.PartialAsync("Partials/CustomSwitch")
            </div>
        </li>

        <hr />

        <li><a class="dropdown-item" asp-action="Index" asp-controller="Account" asp-route-id="@user.Id">Account Settings</a></li>        
        <li><a class="dropdown-item" href="#" onclick="toggleCookieConsentBanner()">Privacy Settings</a></li>
        <li><a class="dropdown-item" href="/">Admin Login</a></li>        
        <li>
            <a class="dropdown-item" href="@Url.Action("LogOut", "Auth")"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </li>
    </ul>
</nav>


