@model AddMemberToProjectFormModel

@{

}

<div class="modal fade" id="addMemberToProjectModal_@Model.ProjectId" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="max-width: 550px;">
            <div class="modal-body p-4">

                <div class="d-flex justify-content-between mb-4">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Add Members</h3>
                    <button type="button" class="btn-modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>

                <h6>ProjectId: @Model.ProjectId</h6>



                <form class="row g-3" novalidate method="post" asp-controller="Projects" asp-action="UpdateProjectMembers" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">Select Members</label>
                        <div class="user-selection-container">
                            @foreach (var user in (List<SelectListItem>)ViewBag.Users)
                            {
                                <div class="form-check mb-2">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        id="user-@user.Value"
                                        name="MemberIds"
                                        value="@user.Value"
                                        @((user.Selected || Model.Project.Users.Any(u => u.Id == Guid.Parse(user.Value))) ? "checked" : "") />
                                    <label class="form-check-label" for="user-@user.Value">
                                        @user.Text
                                    </label>
                                </div>                               
                            }
                        </div>
                    </div>
                    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                    <button type="submit" class="btn btn-blue mt-4">Add Members</button>
                </form>    

            </div>
        </div>
    </div>
</div>