@model ProjectModel

@{
}



<div class="modal fade not-validate" id="projectDetailsModal_@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content @ViewBag.TimeFrameCssClass">

            <!-- Header with Close Button -->
            <div class="modal-header d-flex align-items-center">
                <div class="d-flex align-items-center">

                    <img src="@ViewBag.AvatarPath" alt="@Model.Name" class="project-avatar me-3" />

                    <div>
                        <h5 class="modal-title fs-4 fw-bold mb-0">@Model.Name</h5>
                        <span class="status @ViewBag.TimeFrameCssClass">@Model.Status.StatusName</span>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body p-0">

                <!-- Left Panel -->
                <div class="left-panel-content">
                    <div class="card key-details">
                        <strong>Key Details</strong>
                        <div class="budget item">
                            <i class="bi bi-currency-dollar"></i>
                            <p>@Model.Budget</p>
                        </div>
                        <div class="time-frame item @ViewBag.TimeFrameCssClass">
                            <i class="bi bi-clock"></i>
                            <p>@ViewBag.TimeFrameStatus</p>
                        </div>
                        <div class="created item">
                            <i class="bi bi-calendar-plus"></i>
                            <p>@Model.DateCreated</p>
                        </div>
                    </div>

                    <div class="card customer">
                        <div class="item">
                            <i class="bi bi-buildings"></i>
                            <strong>@Model.Customer.CustomerName</strong>
                        </div>
                        <div class="item">
                            <i class="bi bi-envelope"></i>
                            <p>@Model.Customer.Email</p>
                        </div>
                    </div>
                </div>


                <!-- Right Panel -->
                <div class="right-panel-content">

                    <!-- Tab Navigation -->
                    <ul class="nav nav-tabs nav-fill" id="projectDetailsTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="overview-tab_@Model.Id" data-bs-toggle="tab" data-bs-target="#overview_@Model.Id"
                            type="button" role="tab" aria-controls="overview" aria-selected="true">
                                Overview
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="team-tab_@Model.Id" data-bs-toggle="tab" data-bs-target="#team_@Model.Id"
                            type="button" role="tab" aria-controls="team" aria-selected="false">
                                Team
                            </button>
                        </li>
                    </ul>

                    <!-- Content -->
                    <div class="tab-content p-3" id="projectDetailsTabsContent">

                        <!-- Overview Tab -->
                        <div class="tab-pane fade show active" id="overview_@Model.Id" role="tabpanel" aria-labelledby="overview-tab">
                            <div>
                                <h6>Project Description</h6>
                                <p>@Html.Raw(Model.Description)</p>
                            </div>
                        </div>

                        <!-- Team Tab -->
                        <div class="tab-pane fade" id="team_@Model.Id" role="tabpanel" aria-labelledby="team-tab">
                            <div class="team-tab-item-container">
                                <h6 class="mb-4">Team Members</h6>
                                @foreach (var member in Model.Users)
                                {
                                    <div class="team-tab-item">
                                        <div class="team-tab-item-information">
                                            <img class="user-avatar" src="@imageManager.GetPath(nameof(MembersController), member.Avatar!)" />
                                            <div>
                                                <strong>@member.FirstName @member.LastName</strong>
                                                <p>@member.Email</p>
                                                <p>@member.PhoneNumber</p>
                                            </div>
                                        </div>
                                        <div class="team-tab-item-titles">
                                            <p><i class="bi bi-person-vcard"></i> @member.Title</p>
                                            <p><i class="bi bi-key-fill"></i> @member.RoleName</p>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                        </div>

                        

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>