@model ProjectModel


@{
    var today = DateOnly.FromDateTime(DateTime.Now);
    int daysDifference;
    string timeframeStatus = "";
    string timeframeCssClass = "";

    switch (Model.Status.StatusName)
    {
        case "Pending":
            daysDifference = Model.StartDate.DayNumber - today.DayNumber;
            timeframeStatus = daysDifference == 0 ? "Starts in 1 day" : $"Starts in {daysDifference} days";
            timeframeCssClass = "pending";
            break;

        case "Active":
            daysDifference = Model.EndDate.DayNumber - today.DayNumber;

            if (daysDifference < 0)
            {
                timeframeStatus = $"{daysDifference} days overdue";
                timeframeCssClass = "warning";
            }
            else
            {
                timeframeStatus = $"{daysDifference} days left";
                timeframeCssClass = "active";
            }
            break;

        default:
            timeframeStatus = "Completed";
            timeframeCssClass = "closed";
            break;
    }

    ViewBag.AvatarPath = imageManager.GetPath(nameof(ProjectsController), Model.Avatar!);
    ViewBag.TimeFrameStatus = timeframeStatus;
    ViewBag.TimeFrameCssClass = timeframeCssClass;

    ProjectFormViewModel editModel = new ProjectFormViewModel()
    {
        Id = Model.Id,
        Name = Model.Name,
        Description = Model.Description,
        StartDate = Model.StartDate,
        EndDate = Model.EndDate,
        DateCreated = Model.DateCreated,
        Budget = Model.Budget,
        CustomerId = Model.Customer.Id,
        StatusId = Model.Status.Id,
        Avatar = Model.Avatar,
        MemberIds = Model.Users.Select(u => u.Id).ToList()
    };

    AddMemberToProjectFormModel addMemberToProjectFormModel = new()
    {
        ProjectId = Model.Id,
        Project = Model
    };

    //  data-bs-toggle="modal" data-bs-target="#projectDetailsModal_@Model.Id"
}


<partial name="_EditProjectModal" model="@editModel" />
<partial name="_AddMemberToProjectModal" model="@addMemberToProjectFormModel" />
<partial name="_ProjectDetailsModal" model="@Model" />

<div class="project-card" id="projectCard_@Model.Id" data-status="@Model.Status.StatusName" >
    <header>
        <div class="title">
            <img class="project-avatar" src="@ViewBag.AvatarPath" />
            <div>
                <h6 class="project-title">@Model.Name</h6>
                <p class="project-client">@Model.Customer.CustomerName</p>
            </div>
        </div>
        <div class="menu">
            @if (!User.IsInRole("Viewer"))
            {                                                   
                <button class="menu-btn" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></button>

                <ul class="dropdown-menu">
                    <li class="mt-2 mb-3">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editProjectModal_@Model.Id"><i class="bi bi-pencil-fill"></i> Edit</a>
                    </li>

                    <li class="mt-2 mb-3">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addMemberToProjectModal_@Model.Id"><i class="bi bi-person-plus-fill"></i> Add Member</a>
                    </li>

                    @if (Model.Status.StatusName == "Pending")
                    {
                        <li class="mt-2 mb-3">
                            <a class="dropdown-item project-start" asp-action="StartProject" asp-controller="Projects" asp-route-id="@Model.Id" asp-route-name="@Model.Name"><i class="bi bi-play-circle"></i> Start Project</a>
                        </li>
                    }

                    @if (Model.Status.StatusName == "Active")
                    {
                        <li class="mt-2 mb-3">
                            <a class="dropdown-item project-close" asp-action="CloseProject" asp-controller="Projects" asp-route-id="@Model.Id" asp-route-name="@Model.Name"><i class="bi bi-stop-circle"></i> Set Completed</a>
                        </li>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <hr />
                        <li>
                            <a class="dropdown-item delete" 
                            asp-action="Delete" 
                            asp-controller="Projects" 
                            asp-route-id="@Model.Id" 
                            asp-route-avatar="@Model.Avatar"
                            asp-route-name="@Model.Name">
                                <i class="bi bi-trash"></i> 
                                Delete Project
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </header>

    <div class="project-description">@Html.Raw(@Model.Description)</div>

    <footer>
        <div class="timeframe @timeframeCssClass">
            <i class="bi bi-clock-fill"></i>
            <p>@timeframeStatus</p>
        </div>
        <div class="members">
            @foreach (var member in Model.Users)
            {
                <img src="@imageManager.GetPath(nameof(MembersController), member.Avatar!)">
            }
        </div>
    </footer>

</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('#projectCard_@Model.Id').addEventListener('click', (e) => {
        
        if (!e.target.closest('.menu')) {
            const modalId = `#projectDetailsModal_${"@Model.Id"}`;
            const modal = new bootstrap.Modal(document.querySelector(modalId));
            modal.show();
        }
    })
});
</script>