@using Ui.Asp.Mvc.Models.Account
@model AccountViewModel

@{
    ViewBag.ExternalProvider = User.FindFirstValue(ClaimTypes.AuthenticationMethod);
    var avatar = imageManager.GetPath(nameof(MembersController), Model.MemberForm.Avatar!);
}

<section class="surface section-account-management">
    <header>        
        <div>
            <h1>@Model.MemberForm.FirstName @Model.MemberForm.LastName</h1>
            <p>Assigned Role: <strong>@Model.MemberForm.RoleName</strong></p>
            @if (string.IsNullOrEmpty(ViewBag.ExternalProvider))
            {
                <p>Logged in with: <strong>Local Account</strong></p>
            }
            else
            {
                <p>Logged in with: <strong>@ViewBag.ExternalProvider</strong></p>
            }
            @if (!string.IsNullOrEmpty(ViewBag.ExternalProvider))
            {
                <p>Email: <strong>@Model.MemberForm.Email</strong></p>
            }

            <div>
                <h3>@ViewBag.ErrorMessage</h3>
            </div>
        </div>
        <img src="@avatar" alt="profile avatar." />
    </header>
    <partial name="_Forms" model="@Model" />

</section>
