@using Ui.Asp.Mvc.Models.Account
@model AccountViewModel

@{
    ViewBag.ExternalProvider = User.FindFirstValue(ClaimTypes.AuthenticationMethod);
    var avatar = imageManager.GetPath(nameof(MembersController), Model.MemberForm.Avatar!);
}

<section class="surface section-account-management">
    <header>        
        <div>
            <h1>@Model.MemberForm.FirstName @Model.MemberForm.LastName</h1>
            
            @if (string.IsNullOrEmpty(ViewBag.ExternalProvider))
            {
                <p><i class="bi bi-person-circle"></i> <strong>Local Account</strong></p>
            }
            else
            {
                <p><i class="bi bi-person-circle"></i> <strong>@ViewBag.ExternalProvider</strong></p>
            }
            @if (!string.IsNullOrEmpty(ViewBag.ExternalProvider))
            {
                <p><i class="bi bi-envelope"></i>  <strong>@Model.MemberForm.Email</strong></p>
            }

            <div class="accountpage-titles">
                <p><i class="bi bi-person-vcard"></i><strong>@Model.CurrentUser.Title</strong></p>
                <p><i class="bi bi-key-fill"></i><strong>@Model.CurrentUser.RoleName</strong></p>
            </div>


            <div>
                <h3>@ViewBag.ErrorMessage</h3>
            </div>
        </div>
        <img src="@avatar" alt="profile avatar." />
    </header>
    <partial name="_Forms" model="@Model" />

</section>
