
@model UserModel


@{
    string avatarPath = imageManager.GetPath(nameof(MembersController), Model.Avatar);
    MemberFormViewModel editModel = new()
    {
        Id = Model.Id,
        Avatar = Model.Avatar,
        FirstName = Model.FirstName,
        LastName = Model.LastName,
        Email = Model.Email,
        PhoneNumber = Model.PhoneNumber,
        RoleName = Model.RoleName,
        BirthDate = Model.BirthDate,
        JobTitleId = Model.JobTitleId,

        Address = Model.Address.Address,
        PostalCode = Model.Address.PostalCode,
        City = Model.Address.City
    };
}

<partial name="_EditMemberModal" model="@editModel" />

<div class="member-card" data-user-id="@Model.Id">
    @if (User.IsInRole("Administrator"))
    {
        <div class="menu">
            <button 
            class="menu-btn"
            data-bs-toggle="dropdown">
                <i class="bi bi-three-dots"></i>
            </button>

            <ul class="dropdown-menu">
                <li class="mt-2 mb-3">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editMemberModal_@Model.Id"><i class="bi bi-pencil-fill"></i> Edit</a>
                </li>
                <hr />
                <li>
                    <a class="dropdown-item delete" asp-action="Delete" asp-controller="Members" asp-route-id="@Model.Id" asp-route-avatar="@Model.Avatar"><i class="bi bi-trash"></i> Delete User</a>
                </li>
            </ul>
        </div>
    }

    <div class="avatar-container">
        <img class="avatar" src="@avatarPath"/>
    </div>

    <h4 class="member-card-name">@Model.FirstName @Model.LastName</h4>

    <p class="title">@Model.Title</p>

    <p class="contact member-card-email">@Model.Email</p>
    <p class="contact">@(Model.PhoneNumber.Length > 5 ? Model.PhoneNumber : "070xxxxxxx")</p>
    
    <partial name="_MessageModal" model="@Model"/>
    
    <div class="msg-btn-container" id="msgBtnContainer_@Model.Id">
        <div class="presence-status presence-offline"></div>
        <button type="button" class="btn btn-grey" >
            Message
        </button>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const msgBtnContainer = document.querySelector("#msgBtnContainer_@Model.Id")
        const presenceStatus = msgBtnContainer.querySelector(".presence-status")
        const messageButton = msgBtnContainer.querySelector("button")

        messageButton.addEventListener("click", (e) => {
            if (presenceStatus.classList.contains("presence-online")) {
                const modal = new bootstrap.Modal("#memberMessageModal_@Model.Id")
                modal.show()
            }
            else {
                console.log("You cant send a message when the user is offline.")
            }
        })

    })
</script>



